* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #FEF9F8;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 65px;
  background: white;
}

.wrapper nav input{
  border: 2px solid grey;
  height: 25px;
  border-radius: 10px;
}

.wrapper .headerContainer {
  max-width: 975px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper nav .instaLogo {
  width: 150px;
  height: 48px;
  min-width: 150px;

}

.wrapper nav .instaLogo img{
  height: 100%;
  width: 100%;
}

.wrapper nav .icons {
  display: flex;

}

.wrapper nav .icons > div {
  margin-left: 22px;
}

.wrapper nav .icons a {
  font-size: 22px;
  color: black;
}

#icons_profPic{
  border-radius: 50%;
  width: 22px;
}

.mainPage .profile{
  height: 195px;
  margin-bottom: 45px;
  display: flex;
}

.mainPage{
  margin:0 auto 30px;
  max-width: 975px;
  padding-top: 30px;
}

.mainPage .profile .profilePicContainer{
  min-width: 292px;
  height: 100%;
  margin-right: 30px;
}

.mainPage .profile .profilePic {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.mainPage .profile .profilePic img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.profile .staticText .row_1{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0;
}

.profile .staticText .row_1 h2{
  color:grey;
}

.profile .staticText .buttons{
  width: 153px;
  display: flex;
  margin-left: 20px;
  height: 30px;
  justify-content: flex-start;
}

.profile .staticText .btn_1{
  height: 100%;
  width: 92px;
  background-color: #0095F6;
  border: 0;
  border-radius: 5%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-right: 8px;
}

.profile .staticText .button_2 {
  height: 100%;
  width: 34px;
  background-color: #0095F6;
  border: 0;
  border-radius: 5%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.profile .staticText .row_2{
  margin-bottom: 20px;
  min-width: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
}

.profile .staticText .row_2 > div{
  margin-right: 40px;
}

.profile .staticText .row_3 {
  font-family: sans-serif;
}

.profile .staticText .row_3 > p{
  margin-bottom: 5px;
}

.profile .staticText .row_3 .companyTag{
  color: grey;
}

.images{
  width: 100%;
}

.images td{
  padding: 5px;
}

#x {
  opacity: 1;
  display: block;
  width: 100%;
  height: 250px;
  transition: 1s ease;
  backface-visibility: hidden;
  min-width: 250px;
  min-height: 250px;
}

td:hover #x {
  opacity: 0.3;
}
